ffmpeg==1.4
flask==3.0.3
flask_cors==4.0.1
flask_sqlalchemy==3.1.1
langcodes==3.4.0
langdetect==1.0.9
language-data==1.2.0
googletrans==4.0.0rc1
pydub==0.25.1
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.4
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pytz==2024.1
gunicorn>=20.1.0
waitress>=3.0.0